/*Challenge #1*/
.center { 
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.myfilter { 
	filter: saturate(3);

	border: 10px solid green;
	border-radius: 35px

}
/*Challenge #1*/


