/*Challenge #1*/
.center { 
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.myfilter { 
	filter: saturate(3);

	border: 10px solid green;
	border-radius: 35px

}
/*END OF Challenge #1*/


/*Challenge 5-#3*/
.myTable {
	border: 1px solid black;

}
	
.myTable tr, td {
	border: 1px solid;
}

.myTable th {
	background-color: aquamarine;

}
/*END OF Challenge 5-#3*/